.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #0f172a;
  color: white;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 6px 0;
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #38bdf8;
  transition: width 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

.nav-links li a:hover {
  color: #38bdf8;
}

.login-btn {
  padding: 6px 16px;
  border: none;
  border-radius: 20px;
  background-color: #38bdf8;
  color: #0f172a;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0ea5e9;
}
