.footer {
  width: 100%;
  background-color: #020617;
  color: #cbd5f5;
  margin-top: 60px;
}

.footer-inner {
  max-width: 1200px;
  margin: auto;
  padding: 50px 40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.footer-section h3,
.footer-section h4 {
  color: white;
  margin-bottom: 15px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
}

.footer-section ul li:hover {
  color: #38bdf8;
}

.footer-bottom {
  text-align: center;
  padding: 15px 10px;
  background-color: #0f172a;
  font-size: 13px;
  color: #94a3b8;
}

@media (max-width: 768px) {
  .footer-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.footer-section ul li a {
  color: #cbd5f5;       
  text-decoration: none;  
  cursor: pointer;       
  transition: none;       
}

.footer-section ul li a:hover {
  color: #cbd5f5;
  text-decoration: none;
}
